<div class="gradient-background">
    <div class="container mt-5">
        <h2 class="mb-4 text-center text-uppercase fw-bold">Welcome to Health Plus Associates</h2>
        <hr class="colored-line mb-4">
        <p class="lead text-center">Health Plus Associates (HPA) is a family medical centre that brings together a team of general medical practitioners, specialists and diagnostic services under one roof, in order to meet the needs of our clientele  effectively and efficiently.</p>
        <div class="text-center">
            <a href="/book-apt" class="btn btn-primary btn-lg fw-bold">Book Appointment</a>
        </div>
    </div>
  
    <div class="container mt-5">
        <h2 class="mb-4 text-center text-uppercase fw-bold">Discover Our Services</h2>
        <hr class="colored-line mb-4">
        <div class="row">
            <div class="col-md-6" >
                <img src="assets/comprehensive.png" style="height: 200px; width: 200px; " alt="Service 1" class="img-fluid rounded mb-3 center-image">
                <h3 class="mb-3 text-center">Comprehensive Healthcare</h3>
                <p class="lead text-center">We offer a wide range of medical services tailored to your needs.</p>
            </div>
            <div class="col-md-6">
                <img src="assets/professional.png" style="height: 200px; width: 200px; " alt="Service 2" class="img-fluid rounded mb-3 center-image">
                <h3 class="mb-3 text-center">Dedicated Medical Professionals</h3>
                <p class="lead text-center">Our experienced team is committed to your well-being.</p>
            </div>
            <div class="text-center">
                <a href="/services-offered" class="btn btn-primary btn-lg fw-bold">View More Services!</a>
            </div>
        </div>
    </div>
  
    <div class="container mt-5">
        <h2 class="mb-4 text-center text-uppercase fw-bold">Our Story</h2>
        <hr class="colored-line mb-4">
        <p class="lead text-center">Health Plus Associates was founded in October 1993 by Drs Orville Nembhard and Tomlin Paul - both graduates of the University of the West Indies Medical Class of 1983. Both Dr Nembhard and Dr. Paul pursued further studies in public health and Dr. Nembhard also holds an MBA from the University of Leicester UK, and a Global Programme in Occupational Health Practice (GPOHP) Certificate from the University of Illinois at Chicago. <br>
  
            The centre, originally located in the Red Hills Mall, began with a complement of three family physicians working from 8:30am to 7:00pm. This was to ensure that there was at least one physician on duty at any one time. The team also had an obstetrician/gynaecologist, dermatologist, dietitian and physiotherapist, and offered laboratory services through Central Medical Labs. <br> <br>
            
            Over the years our clientele and reputation grew and with the increased demand for a wider range of services, we relocated in October 2002 from the Red Hills Road to the newly constructed Boulevard Supercentre.</p>
    </div>
  
    <div class="container mt-5">
        <h2 class="mb-4 text-center text-uppercase fw-bold">Our Staff</h2>
        <hr class="colored-line mb-4">
    <div class="container mt-5">
        <div class="container-fluid mt-4 px-0">
            <img src="assets/team.png" alt="Staff Members" class="img-fluid no-margin discord-img-full-width">
        </div>
    </div>
    </div>
  
    <div class="container mt-5">
        <h2 class="mb-4 text-center text-uppercase fw-bold">Meet Our Team</h2>
        <hr class="colored-line mb-4">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="https://jamaker.s3.amazonaws.com/flfldr/fntJDKn6GPe5tuZ3J.jpg" class="card-img-top" alt="Dr. Nembhard">
                    <div class="card-body bg-dark-subtle">
                        <h5 class="card-title mb-1">Dr. Orville Nembhard MBBS. MPH, MBA, GPOHP, CAME</h5>
                        <p class="card-text">Family Physician/Director</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://jamaker.s3.amazonaws.com/flfldr/JQs9kgJRMd68v5ZNu.jpg" class="card-img-top" alt="Dr. Wishart">
                    <div class="card-body bg-dark-subtle">
                        <h5 class="card-title mb-1">Dr. Annetta Wishart <br> BMSc MBBS</h5>
                        <p class="card-text">Family Physician</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://jamaker.s3.amazonaws.com/flfldr/CWESru9TwqXrpiifd.jpg" class="card-img-top" alt="Dr. Miller">
                    <div class="card-body bg-dark-subtle">
                        <h5 class="card-title mb-1">Dr. Edmond Miller <br> MBBS</h5>
                        <p class="card-text">Family Physician/General Practitioner</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://jamaker.s3.amazonaws.com/flfldr/ZDLmtJv2zRxr4A7fB.jpg" class="card-img-top" alt="Dr. Barnaby">
                    <div class="card-body bg-dark-subtle">
                        <h5 class="card-title mb-1">Dr. Krystal Barnaby MBBS</h5>
                        <p class="card-text">Family Physician</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://jamaker.s3.amazonaws.com/flfldr/SKuv5Sop9vYZQnnRD.jpg" class="card-img-top" alt="Dr. Nunes">
                    <div class="card-body bg-dark-subtle">
                        <h5 class="card-title mb-1">Dr. Stefan Nunes MBBS, MSc. BSc.</h5>
                        <p class="card-text">Family Physician</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://jamaker.s3.amazonaws.com/flfldr/uxEGkp5fF2Rg3H7v8.jpg" class="card-img-top" alt="Dr. Green">
                    <div class="card-body bg-dark-subtle">
                        <h5 class="card-title mb-1">Dr. Dellie-Ann Green MBBS</h5>
                        <p class="card-text">Family Physician</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>