<div class="container mt-5">
    <h2 class="mb-4 text-center text-uppercase fw-bold">Our Services</h2>
    <hr class="colored-line mb-4">
    <div class="row">
        <div class="col-md-4" *ngFor="let service of services">
            <div class="card mb-4">
                <img src="{{service.image}}" alt="{{service.title}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{service.title}}</h5>
                    <p class="card-text">{{service.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
