.card {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .colored-line {
    width: 50%;
    border: 2px solid #007bff;
    margin: 0 auto 20px;
  }
  