.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-img-top {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.card-text {
  flex-grow: 1;
}

.colored-line {
  width: 50%;
  border: 2px solid #007bff;
  margin: 0 auto 20px;
}

.pagination button {
  min-width: 40px;
}
