.container {
    margin-top: 100px;
  }
  
  .display-1 {
    font-size: 6rem;
    font-weight: 700;
  }
  
  .lead {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .btn-lg {
    padding: 10px 20px;
    font-size: 1.25rem;
  }
  