<div class="container mt-5">
  <h2 class="mb-4 text-center text-uppercase fw-bold">Leave a Review</h2>
  <hr class="colored-line mb-4">

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="review.customer_name" name="name" required>
    </div>

    <!-- <div class="mb-3">
      <label for="rating" class="form-label">Rating</label>
      <select class="form-control" id="rating" [(ngModel)]="review.rating" name="rating" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div> -->

    <div class="mb-3">
      <label for="comment" class="form-label">Comment</label>
      <textarea class="form-control" id="comment" [(ngModel)]="review.review_message" name="comment" rows="3" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit Review</button>
  </form>
</div>