<div class="container mt-5">
  <h2 class="mb-4 text-center text-uppercase fw-bold">Leave a Review</h2>
  <hr class="colored-line mb-4">

  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="review.customer_name" name="name" required>
    </div>

    <div class="mb-3">
      <label for="occupation" class="form-label">Occupation</label>
      <input type="text" class="form-control" id="occupation" [(ngModel)]="review.occupation" name="occupation" required>
    </div>

    <div class="mb-3">
      <label for="comment" class="form-label">Comment</label>
      <textarea class="form-control" id="comment" [(ngModel)]="review.review_message" name="comment" rows="3" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit Review</button>
  </form>

  <div class="mt-5">
    <h2 class="mb-4 text-center text-uppercase fw-bold">Reviews</h2>
    <hr class="colored-line mb-4">
    <div *ngFor="let review of reviews" class="mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{review.customer_name}} - {{review.occupation}}</h5>
          <p class="card-text">{{review.review_message}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
