<div class="background">
<div class="container mt-5">
  <h2 class="mb-4 text-center text-uppercase fw-bold">Want to contact us?</h2>
  <hr class="colored-line mb-4">
  <p class="lead text-center">
    Need more information about something? Feel free to reach out to us!
  </p>
  <p class="lead text-center">
    <strong>Email:</strong> health_care876&#64;mail.com
    <br>
    <strong>Phone:</strong> (876) 987-6543
  </p>
</div>

<div class="container-fluid mt-5 px-0">
  <h3 class="mb-4 text-center text-uppercase fw-bold">You can find us here!</h3>
  <hr class="colored-line mb-4">
  <div class="map-container">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4599.521906503587!2d-76.83327643578116!3d18.02685855126501!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb15840638cc39%3A0xb556aacaa4b13a7c!2sHealth%20Plus%20Associates!5e0!3m2!1sen!2sjm!4v1716646815428!5m2!1sen!2sjm" 
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="mt-4 text-center">
    <h4 class="text-uppercase fw-bold">Opening Hours</h4>
    <p class="lead">Monday to Fridays: 7 am to 8 pm</p>
    <p class="lead">Saturdays: 9 am to 6 pm</p>
    <p class="lead">Sundays: 10 am to 4 pm</p>
  </div>
</div>
</div>
