<div class="container my-5">
  <h2 class="text-center">Admin Login</h2>
  <form (ngSubmit)="login()" class="login-form">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
  </form>
</div>
