/* General styling */
body {
    padding-top: 56px; /* Height of the navbar */
  }
  
  /* Footer styling */
  footer {
    background-color: #f8f9fa;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .header-logo {
    width: 200px;
    display: block;
    margin: auto;
  }

  .footer-logo {
    width: 250px;
    display: block;
    margin-bottom: 15px;
  }
  
  .social-icon {
    width: 24px;
    margin-right: 10px;
  }
  
  .contact-icon {
    width: 16px;
    margin-right: 5px;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  ul {
    padding-left: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  hr {
    margin: 5px 0;
    border: 0;
    border-top: 1px solid #dee2e6;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-5 {
    margin-top: 0 !important;
  }
  
  .pt-5 {
    padding-top: 3rem !important;
  }
  
  .pb-3 {
    padding-bottom: 1rem !important;
  }
  
  .mb-3 {
    margin-bottom: 1rem !important;
  }
  
  .container {
    max-width: 1140px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .container-fluid {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .footer-link {
    color: #000000; /* Dark green color */
    text-decoration: none; /* Removes underline */
}

.footer-link:hover {
    text-decoration: underline;
    color: #006400; /* Optional: underline on hover for better user interaction */
}

  /* Import custom font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Custom font for nav links */
.navbar-nav .nav-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

/* Active link styling */
.navbar-nav .nav-link.active {
  color: blue;
}

#mainNav {
  margin-top: 0 !important;
}

/* Sticky header styles */
#mainNav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  animation: slideDown 1.5s ease-in-out;
}

/* Slide down animation */
@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.colored-line {
  width: 50%;
  border: 1px solid #00438b;
}