<div class="container mt-5">
    <h2>Appointment List</h2>
    <div *ngIf="appointments.length > 0; else noAppointments">
      <table class="table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Appointment Type</th>
            <th>Doctor ID</th>
            <th>Appointment Time</th>
            <th>Appointment Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointments">
            <td>{{ appointment.first_name }}</td>
            <td>{{ appointment.last_name }}</td>
            <td>{{ appointment.phone_number }}</td>
            <td>{{ appointment.email }}</td>
            <td>{{ appointment.appointment_type }}</td>
            <td>{{ appointment.doctor_id }}</td>
            <td>{{ appointment.appointment_time }}</td>
            <td>{{ appointment.appointment_date | date: 'MM/dd/yyyy' }}</td>
            
            
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noAppointments>
      <p>No appointments found.</p>
    </ng-template>
  </div>
  