<div class="container mt-5">
  <h2>Welcome, Admin</h2>
  <button class="btn btn-danger" (click)="logout()">Logout</button>
    <div class="text-center">
      <button class="btn btn-primary btn-lg m-2" (click)="navigateTo('patients')">View Patient List</button>
      <button class="btn btn-primary btn-lg m-2" (click)="navigateTo('doctors')">View Doctor List</button>
      <button class="btn btn-primary btn-lg m-2" (click)="navigateTo('appointments')">View Booking Appointment List</button>
      <button class="btn btn-primary btn-lg m-2" (click)="navigateTo('e-prescriptions')">View E-Prescription List</button>
    </div>
  </div>
  